{%extends 'dark/template_dark/dashboard.html'%}
{%load static%}
{% block head %}
    <title>{{vars.site}} </title>
{% endblock %}

{% block body %}
{%include 'dark/template_dark/header.html'%}

        <div class="content-body ml-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header border-0 pb-0">
                                <h4 class="card-title">Deposit History</h4>
                            </div>
                            <div class="card-body">
                                {%if deposit%}
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                        <table class="table mb-0 table-responsive-sm">
                                            <tbody>
                                                {%for deposit in deposit%}
                                                <tr>
                                                    <td><span class="buy-thumb"><i class="la la-arrow-down"></i></span>
                                                    </td>
                                                    <td class="text-success">+{{deposit.amount|floatformat:2}} USD</td>
                                                    <td>
                                                        <i class="cc {{deposit.wallet.code}}"></i> {{deposit.wallet.coin}}
                                                    </td>
                                                    <td>
                                                        {%if deposit.description is not None%}
                                                        <span class="badge badge-success">
                                                            {{deposit.description}}
                                                        </span>
                                                        {%endif%}
                                                    </td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {%else%}
                                <div class="text-center">
                                    <span>No Deposits yet</span>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="copy_right">
                            Copyright © 2020 Quixlab. All Rights Reserved.
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 text-lg-right text-center">
                        <div class="social">
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {%include 'dark/template_dark/index-footer.html'%}

    </div>



    <script src="{% static 'static_dark/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/waves/waves.min.js' %}"></script>
    <script src="{% static 'static_dark/js/scripts.js' %}"></script>
    <script src="{% static 'static_dark/js/settings.js' %}"></script>
    <script src="{% static 'static_dark/js/quixnav-init.js' %}"></script>
    <script src="{% static 'static_dark/js/styleSwitcher.js' %}"></script>
</body>
{% endblock %}