{% extends 'dark/template_dark/layouts/base_auth.html'%}

{%load static%}

{% block content %}

    <div class="section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-md-6">
                    <div class="auth-form card">
                        <div class="card-header justify-content-center">
                            <h4 class="card-title">Reset Password</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST" name="myform" class="signup_validate">
                                    {%csrf_token%}
                                    <div class="form-row">
                                        <div class="form-group col-xl-12">
                                            <label><span class="small">Email Address</span></label>
                                            <input type="email" class="form-control" placeholder="Enter Email Adress" name="email" onkeyup="this.value = this.value.toLowerCase();">
                                            <span class="small text-danger">
                                                {%if form.email.errors%}
                                                {{form.email.errors}}
                                                {%endif%}
                                            </span>
                                        </div>
                                        <div class="form-group col-xl-6">
                                            <label><span class="small">Verify User ID</span></label>
                                            <input type="text" class="form-control" placeholder="User ID" name="unique_id">
                                            <span class="small text-danger">
                                                {%if form.unique_id.errors%}
                                                {{form.unique_id.errors}}
                                                {%endif%}
                                            </span>
                                        </div>
                                        <div class="form-group col-xl-6">
                                            <label><span class="small">Verify Date of Birth</span></label>
                                            <input type="text" class="form-control" placeholder="Date of Birth"
                                                id="datepicker" autocomplete="off" name="date_of_birth">
                                                <span class="small text-danger">
                                                    {%if form.date_of_birth.errors%}
                                                    {{form.date_of_birth.errors}}
                                                    {%endif%}
                                                </span>
                                        </div>
                                        <div class="form-group col-xl-6">
                                            <label><span class="small">New Password</span></label>
                                            <input type="password" class="form-control" placeholder="New Password" name="password1">
                                            <span class="small text-danger">
                                                    {%if form.password1.errors%}
                                                    {{form.password1.errors}}
                                                    {%endif%}
                                                </span>
                                        </div>
                                        <div class="form-group col-xl-6">
                                            <label><span class="small">Confirm New Password</span></label>
                                            <input type="password" class="form-control" placeholder="Confirm Password" name="password2"><span class="small text-danger">
                                                    {%if form.password2.errors%}
                                                    {{form.password2.errors}}
                                                    {%endif%}
                                                </span>
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-success btn-block">Change Password</button>
                                    </div>
                            </form>
                            <div class="new-account text-center mt-3">
                                <p>Already have an account? <a class="text-primary" href="{%url 'login'%}">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}