{%extends 'dark/template_dark/dashboard.html'%}
{%load static%}
{% block head %}
    <title>{{vars.site}} </title>
{% endblock %}

{% block body %}
<body>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <div class="authincation section-padding">
            <div class="container h-100">
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-5 col-md-6">
                            <div class="mini-logo text-center my-5">
                                <img src="{% static 'static_dark/images/m_logo.png' %}" alt="">
                            </div>
                            <div class="auth-form card">
                                <div class="card-header justify-content-center">
                                    <h4 class="card-title">Enter Referral Code</h4>
                                </div>
                                <div class="container text-center px-4 pt-2 pb-0 justify-content-center">
                                    <p class="text-center small">Sign Up with a referral Code and get <b>25%</b> back on first Trade.</p>
                                </div>
                                <div class="card-body pt-2">
                                    <form method="POST">
                                        {%csrf_token%}
                                        <div class="form-group mb-4">
                                            <input type="text" name="ref" class="form-control bg-transparent rounded-0" placeholder="Enter Referral Code">
                                        </div>
                                        <button class="btn-success btn-block btn-lg border-0" type="submit">Redeem</button>
                                    </form>
                                    <div class="new-account text-center mt-3">
                                        <a class="text-primary" href="{%url 'register'%}">
                                            <h5>Register directly?</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'static_dark/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/waves/waves.min.js' %}"></script>

    <script src="{% static 'static_dark/vendor/validator/jquery.validate.js' %}"></script>
    <script src="{% static 'static_dark/vendor/validator/validator-init.js' %}"></script>

    <script src="{% static 'static_dark/js/scripts.js' %}"></script>
    <script src="{% static 'static_dark/js/settings.js' %}"></script>
    <script src="{% static 'static_dark/js/quixnav-init.js' %}"></script>
    <script src="{% static 'static_dark/js/styleSwitcher.js' %}"></script>
</body>
{% endblock %}