{% extends 'dark/template_dark/layouts/base_dashboard_settings.html'%}

{%load static%}

{% block col %}

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <div class="form-row">
                            <input hidden name="user" type="text" class="form-control" id="user" value="{{act}}">
                            <div class="form-group col-xl-12">
                                <label class="mr-sm-2">Old Password</label>
                                <input name="password1" type="password" class="form-control" placeholder="Old Password">
                                <span class="small text-danger">
                                    {%if form.password1.errors%}
                                    {{form.password1.errors}}
                                    {%endif%}
                                </span>
                            </div>
                            <div class="form-group col-xl-12">
                                <label class="mr-sm-2">New Password</label>
                                <input name="password2" type="password" class="form-control" placeholder="New Password">
                                <span class="small text-danger">
                                    {%if form.password2.errors%}
                                    {{form.password2.errors}}
                                    {%endif%}
                                </span>
                            </div>
                            <div class="form-group col-xl-12">
                                <label class="mr-sm-2">Confirm New Password</label>
                                <input name="password3" type="password" class="form-control" placeholder="Confirm New Password">
                                <span class="small text-danger">
                                    {%if form.password3.errors%}
                                    {{form.password3.errors}}
                                    {%endif%}
                                </span>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-success waves-effect">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                        
{% endblock %}