{%extends 'dark/template_dark/dashboard.html'%}
{%load static%}
{% block head %}
    <title>{{vars.site}} </title>
{% endblock %}

{% block body %}

{%include 'dark/template_dark/header.html'%}

{%include 'dark/template_dark/settings-bar.html'%}

<div class="col-xl-9 col-md-8">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Change Name</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {%csrf_token%}
                        <div class="form-row">
                            <div class="form-group col-xl-12">
                                <label class="mr-sm-2">First Name</label>
                                <input required name="first_name" type="text" class="form-control" placeholder="{{cust.user.first_name}}">
                            </div>
                            <div class="form-group col-xl-12">
                                <label class="mr-sm-2">Last Name</label>
                                <input required name="last_name" type="text" class="form-control" placeholder="{{cust.user.last_name}}">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-success waves-effect">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>

        {%include 'dark/template_dark/index-footer.html'%}
        
    </div>



    <script src="{% static 'static_dark/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'static_dark/vendor/waves/waves.min.js' %}"></script>
    <script src="{% static 'static_dark/js/scripts.js' %}"></script>
    <script src="{% static 'static_dark/js/settings.js' %}"></script>
    <script src="{% static 'static_dark/js/quixnav-init.js' %}"></script>
    <script src="{% static 'static_dark/js/styleSwitcher.js' %}"></script>
</body>
{% endblock %}