{% extends 'light/template_light/layouts/base_dashboard.html'%}

{%load static%}

{% block content %}

    <div class="homepage mb-80">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="card balance-widget">
                        <div class="card-header pb-0 border-0">
                            <h5>Withdrawal successful</h5>
                        </div>
                        <div class="card-body pt-0">
                            <div class="balance-widget">
                                <div class="text-center my-4">
                                    <h3>$ {{amount}}</h3>
                                    <p class="mt-4">{{cust}}, withdrawal from your {{wallet}} wallet was successful.</p>
                                </div>
                                <div class="text-center my-4 display-4">
                                    <i class="fa fa-check-circle fa-3x text-success"></i>
                                </div>
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <a href="{%url 'administrator'%}" class="btn btn-success btn-block">Continue to dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}