{% extends 'light/template_light/layouts/base_auth.html'%}

{%load static%}

{% block content %}

    <div class="section-padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-4 col-md-6">
                    <div class="auth-form card">
                        <div class="card-header justify-content-center">
                            <h4 class="card-title">Enter Referral Code</h4>
                        </div>
                        <div class="container text-center px-4 pt-2 pb-0 justify-content-center">
                            <p class="text-center small">Sign Up with a referral Code and get $25 referral bonus.</p>
                        </div>
                        <div class="card-body pt-2">
                            <form method="POST">
                                {%csrf_token%}
                                <div class="form-group mb-4">
                                    <label for="">Referral Code</label>
                                    <input type="text" name="ref" class="form-control bg-transparent rounded-0" placeholder="Enter Referral Code">
                                </div>
                                <button class="btn-success btn-block btn-lg border-0" type="submit">Redeem</button>
                            </form>
                            <div class="new-account text-center mt-3">
                                <a class="text-primary" href="{%url 'register'%}">
                                    <h5>Register directly?</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}